@font-face {
  font-family 'iconfont' /* Project id 3285183 */
  src url('iconfont.woff2?t=1656004879096') format('woff2'), url('iconfont.woff?t=1656004879096') format('woff'), url('iconfont.ttf?t=1656004879096') format('truetype')
}
.iconfont {
  font-family 'iconfont' !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}
.icon-dongman:before {
  content '\e61e'
}
.icon-wodeshezhi:before {
  content '\e60a'
}
.icon-pengyou:before {
  content '\e61a'
}
.icon-shejiwenzhang:before {
  content '\e607'
}
.icon-jiaosexiugai:before {
  content '\e690'
}
.icon-24gl-tags2:before {
  content '\e87c'
}
.icon-grouping:before {
  content '\e62a'
}
.icon-yonghu:before {
  content '\e603'
}
.icon-zhedie2:before {
  content '\e620'
}
.icon-zhedie1:before {
  content '\e621'
}
