.add-anime {
  .seat {
    display none
  }
  .tags {
    width 100%
    :deep(.el-tag ) {
      background #fff0f2
      border-color #e2aeb5
      .el-tag__close {
        background #f9d1de
        color #837e7e
        &:hover {
          background #f284a9
          color #fff
        }
      }
    }
    :deep(.el-input__inner:focus) {
      border-color #f7b0c8
    }
    .tag {
      margin 20px 0
      // display flex
      position relative
      .tag-list {
        width 90%
        margin 5px 0
        display flex
        span {
          width 60px
        }
      }
      .delete {
        margin 5px
        position absolute
        right 5%
        top -1.5%
      }
    }
  }
  .preview {
    width 500px
    margin-top 10px
  }
}